*{
    box-sizing: border-box;
}

.product__list{
    display: flex;
    flex-wrap: wrap;
}
 
.product__item{
    width: 40%;
    margin: 15px;
    border: 1px solid #ddd;
    padding: 10px;
}

.product__item img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.product__form table{
    width: 100%;
}

.product__form input, .product__form textarea{
    width: 100%;
}